@import url('https://fonts.googleapis.com/css2? family= Outfit:wght@400;700 & display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    padding-block: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: hsl(0, 0%, 100%);
    box-shadow:  5px 10px 16px hsl(213, 6%, 62%);
    max-width: 300px;
    width: 95%;
    border-radius: 0.7rem;
}

.img-container {
    width: 100%;
    padding: 0.82rem;

    & img{
        width: 100%;
        border-radius: 0.7rem;
    }
}

.info-container {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & .title {
        color: hsl(218, 44%, 22%);
        font-size: 20px;
        margin-bottom: 1rem ;
        text-align: center;
    }

    & .sub {
        color: hsl(220, 15%, 55%);
        font-size: 15px;
        text-align: center;
        padding: 0.5rem;
    }
}
